= form_for(Nif.new) do |f|
  = f.label :value
  = f.text_field :value
  %span#result
    Not valid

:javascript
  $("form").submit(function(){
    return false;
  });

  $("#nif_value").bind("keyup mouseup change", function(){
    var nif = $("#nif_value").val();
    $("#result").html(nifval(nif)?"Valid":"Not valid");
  });

  $("#nif_value").focus();
